<!--
  Copyright 2007-2008. Adobe Systems Incorporated.
  All rights reserved.
 -->

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
        <link href="../../../asset/css/test/blackbooksafe/appstyle.css" rel="stylesheet" type="text/css"/>
        <link href="../../../asset/css/test/blackbooksafe/details.css" rel="stylesheet" type="text/css"/>
	</head>
	<body>
		
<div id="detailPage">
<table border="0" cellpadding="0" cellspacing="0" width="281">
	<tr>
		<td><img src="../../../asset/img/test/blackbooksafe/spacer.gif" width="281" height="1" border="0" alt="" /></td>
		<td><img src="../../../asset/img/test/blackbooksafe/spacer.gif" width="1" height="1" border="0" alt="" /></td>
	</tr>
	
	<tr>
		<td id="detailheader" background="../../../asset/img/test/blackbooksafe/details/header.png">
			<div id="closedetails"></div>
		</td>
		<td><img src="../../../asset/img/test/blackbooksafe/spacer.gif" width="1" height="30" border="0" alt="" /></td>
	</tr>
	<tr>
		<td background="../../../asset/img/test/blackbooksafe/details/body_empty.png">
			<form id="form">
			<div id="detailPageBorder" class="border">
				<table class="displayTable">
					<tr>
						<td valign="top"><img id="photo" class="photoLarge" width="84" height="112"/></td>
						<td width="100%">
							<span class="tableFieldName">Name</span>
							<span class="tableFieldValue selectable narrowValue" id="firstName"></span>
							<span class="tableFieldValue selectable narrowValue" id="lastName"></span>
							<span class="tableFieldName">Phone</span>
							<span class="tableFieldValue selectable narrowValue" id="phone"></span>
						</td>
					</tr>
					<tr><td colspan="2">
						<span class="tableFieldName">Email</span>
						<span class="tableFieldValue selectable wideValue" id="email"></span>
						<span class="tableFieldName">Website</span>
						<span class="tableFieldValue selectable wideValue" id="website"></span>
						<span class="tableFieldName">Birthday</span>
						<span class="tableFieldValue selectable wideValue" id="birthday"></span>
						<span class="tableFieldName">Notes</span>
						<span class="tableFieldValue selectable wideValue" id="notes"></span>
					</td></tr>
				</table>
			</div>
			</form>
		</td>
		<td><img src="../../../asset/img/test/blackbooksafe/spacer.gif" width="1" height="175" border="0" alt="" /></td>
	</tr>
	<tr>
		<td background="../../../asset/img/test/blackbooksafe/details/footer.png">
			<div id="prevdetails"></div>
			<div id="nextdetails"></div>
			<div id="backdetails"></div>
			<div id="deletedetails"></div>
			<div id="editdetails"></div>
		</td>
		<td><img src="../../../asset/img/test/blackbooksafe/spacer.gif" width="1" height="38" border="0" alt="" /></td>
	</tr>
</table>
</div>

		
		
	</body>
</html>
